/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: cover 100%,not dead
*/

@font-face {
    font-family: CircularBook;
    src: url(https://s3propertyspace-dev.s3.eu-central-1.amazonaws.com/lease_templates/fonts/cfde5a604ccf77080d70aff422bfe190.ttf),
    url(https://s3propertyspace-dev.s3.eu-central-1.amazonaws.com/lease_templates/fonts/235476cb3a5fb03660bf7750622acf92.woff);
}

@page {
    size: A4;
    margin: 0;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: CircularBook;
    color: #343f4d;
    font-size: 12px;
}

.row {
    display: block;
    min-width: 100%;
    margin-left: -10px;
    margin-right: -10px;
    overflow: hidden;
}

.row.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    align-items: stretch;
    max-width: 100%;
}

.row.flex.align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
}

.row.flex.align-top {
    -webkit-box-align: start;
    -webkit-align-items: start;
    -moz-box-align: start;
    align-items: start;
}

.row.flex.align-bottom {
    -webkit-box-align: end;
    -webkit-align-items: end;
    -moz-box-align: end;
    align-items: end;
}

.row.flex.between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
}

.row.flex.center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
}

.row > [class*="col"] {
    float: left;
    padding: 0 10px;
}

.row.flex > [class*="col"] {
    float: none;
}

.col-1 {
    width: 8.333333%;
}
.col-2 {
    width: 16.666667%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.333333%;
}
.col-5 {
    width: 41.666667%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.333333%;
}
.col-8 {
    width: 66.666667%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.333333%;
}
.col-11 {
    width: 91.666667%;
}
.col-12 {
    width: 100%;
}
.col {
    width: auto;
}
.col-auto {
    width: auto;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.next-page {
    page-break-before: always;
}

.page + .page {
    page-break-before: always;
}

.page {
    padding: 0 40px;
}

.page * {
    word-break: break-word;
}

.page.main-page {
    margin-top: 0;
    padding-top: 0;
}

.main-logo {
    margin: 60px 20px 20px 20px;
}

.main-logo img {
    display: block;
    height: 80px;
}

.main-title {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    justify-content: flex-end;
    height: 300px;
    margin: 0 -40px 20px;
    padding-right: 80px;
    text-align: right;
}

.main-title h1 {
    position: relative;
    z-index: 1;
    margin: 0;
    font-size: 32px;
}

.main-title:before {
    content: ' ';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 300px;
    background-color: #f6f6f6;
}

.main-description {
    padding: 30px 40% 30px 0;
}

.main-description:last-child {
    border-top: 0.5mm solid #f63501;
}

.main-description .label {
    font-size: 14px;
    color: #f63501;
}

.main-description p {
    font-size: 16px;
    margin: 10px 0;
    line-height: 1.5;
}

h1 {
    margin: 6mm 0;
    font-size: 24px;
}

h2 {
    margin: 4mm 0;
    font-size: 16px;
}

h3 {
    margin: 2mm 0;
    font-size: 14px;
    font-weight: normal;
    color: #7A7A7A;
}

.box {
    padding: 4mm 4mm;
    margin: 4mm 0;
    background-color: #F7F7F7;
}

.box .row + .row {
    margin-top: 4mm;
}

.box[data-title] {
    position: relative;
    min-height: 25mm;
    padding-left: 8mm;
    overflow: hidden;
}

.box[data-title]:before {
    content: attr(data-title);
    position: absolute;
    left: -50%;
    top: 50%;
    margin-top: -2mm;
    margin-left: 2mm;
    z-index: 2;
    width: 100%;
    height: 4mm;
    color: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 4mm;
    background-color: #3A3A3A;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.with-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
}

.with-icon i.la {
    font-size: 18px;
    color: #7A7A7A;
}

.with-icon i.la + .content {
    width: 100%;
    margin-left: 10px;
    margin-top: 1px;
}

p {
    margin: 2mm 0;
}

.border-left {
    border-left: solid;
    border-color: #7A7A7A;
    border-width: 1px;
}

.list-item {
    position: relative;
    padding-left: 1.5em;
}

.list-item .list-item {
    padding-left: 2.5em;
}

.list-item .list-item .list-item {
    padding-left: 3.5em;
}

.list-item.inline {
    padding-left: 0;
}

.list-item:not(.no-increment) {
    counter-increment: list-item;
}

.list-item .list {
    counter-reset: list-item;
}

.list-item:not(.inline):before {
    display: block;
    position: absolute;
    left: 0;
}

.list-item:before {
    content: counters(list-item, ".") ". ";
}

.list-item.alpha:before,
.list.alpha .list-item:before {
    content: counter(list-item, lower-alpha) ". ";
}

.list-item.no-item {
    padding-left: 0;
}

.list-item.no-item:before {
    content: '';
}

.list {
    counter-reset: list-item;
}
.list-item.roman:before,
.list.roman .list-item:before {
    content: counter(list-item, upper-roman) ". ";
}

.list-item.roman:not(.no-item),
.list-item.alpha:not(.no-item),
.list.roman .list-item:not(.no-item),
.list.alpha .list-item:not(.no-item) {
    padding-left: 1.5em !important;
}
